
.header {
    height: 80px;
    background-color: #FFD600;

    display: flex;
    justify-content: space-between;
}
html {
    font-family: 'Inter';
}
.container {
    background-color: #FFFCE0;
    height: calc(100vh - 80px);
    display: flex;
}

.footer {
    background-color: #BDBDBD;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}


#company-logo {
    width: 90px;
    height: 65px;
    padding: 10px 0 10px 20px;
}
#company-name {
    font-size: 45px;
    padding-left: 20px;
}

.header-btn {
    background: #448AFF;
    font-size: 20px;
    font-weight: 400;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    margin-right: 10px;
}

.header-btn:hover {
    cursor: pointer;
}


.logo-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.control-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.button{
    text-decoration: none;
    color:#000020
}

@media (max-width: 500px) {

    .header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
    }

    .control-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .control-container .header-btn {
        margin-bottom: 10pt;
        width: 80%;
        text-align: center;
    }
}